/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}
* {
    outline: 0px solid red;
}
.fira-code-nav {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
:root {
    --primary-color: white;
    --background-color: #3a4080;
    --background-gradient: pink;
    --card-color: #ece8d8cd;
    --card-font-color: #2a2e5d;
}
body {
    color: white;
    font-size: 2rem;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    background: rgb(190,138,110);
    background: linear-gradient(90deg, rgba(190,138,110,1) 0%, rgba(190,110,178,1) 100%);
}
a {
    color: white;
    text-decoration: None;

}
a:hover {
    color: black;
}
    .flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.grow-1 {
    flex-grow: 1;
}
.sp-around {
    justify-content: space-around;
}
.sp-between {
    align-content: space-between;
}
.card {
    border-radius: 15px;
    background-color: var(--card-color);
    margin-bottom: 2rem;
}
.banner {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 1em;
    width: calc(100% - 6em);
    height: 3.5em;
}
.banner-top {
    font-size: 2em;
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
}
.banner-bottom {
    margin-top: -2rem;
    font-size: 3em;
    text-wrap: none;
    text-align: center;
}
.banner-bottom {
    text-shadow: 
        0 0 0.05em pink, /* Horizontal offset, vertical offset, blur radius, color */
        0.05em 0 0.05em pink,
        -0.05em 0 0.05em pink,
        0 0.05em 0.05em rgb(161, 107, 222),
        0 -0.05em 0.05em pink,
        0.05em 0.05em 0.05em rgb(55, 149, 193),
        -0.05em -0.05em 0.05em pink,
        0.05em -0.05em 0.05em pink,
        -0.05em 0.05em 0.05em pink;
}
.center {
    justify-content: center;
}